/*  your css code here. If applicable */
.hero>img{
	width:380px;
	height:200px;
	background-size:cover;
}
.hero>h1{
	display:flex;
	justify-content:center;
	align-items:center;
}
.hero>p{
	display:flex;
	
	justify-content:center;
	align-items:center;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.hero>button{
	background-color:red;
	border-radius:5px;
	text-decoration:none;
}
